/* Tipo de fuente */
*{
    font-family: 'Montserrat', sans-serif;
}
*{
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}
/* Barra de navegación*/
nav {
    background-color: black;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

nav img {
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    padding-bottom: 5px;
    position: relative;
    transition: color 0.3s ease;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #44BD97;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

nav a:hover {
    color: #44BD97;
}

nav a:hover::after {
    transform: scaleX(1);
}

/* Cuerpo de productos */
main {
    padding: 30px;
    text-align: center;
}

.productos {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.producto {
    width: 200px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

/* Botones en productos */
/* Agregar el CSS de los botones */
/* .producto button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.producto button:hover {
    background-color: #44BD97;
    transform: scale(1.05);
} */